footer {
    background: #1b2a4e;
    min-height: 100px;
}

footer p{
    color: #f3f3f3;
    text-align: center;
}

.carousel-inner{
    max-height: 30rem;
}

/* Media querys */

@media (max-width:768px){
    #intro{
    width: 90% !important;
    }
}
